apartments-and-search-container {
    width:100%;
}

.no-apartments-found {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.load-more-apartments {
    text-align: center;
    margin-bottom: 40px;
}